*{
    margin: 0px;
    padding: 0px;
}
#header{
    height: 80px;
    background-color: bisque;
}
#sidebar{
    width: 300px;
    height: 640px;
    background-color: rgb(251, 236, 219);
    float: left;
}
#inner-main{
    background-color: rgb(235, 165, 85);
    margin-left: 300px;
    width: 1219.2px;
    height: 640px;
}
#inner-main #summary{
    background-color: rgb(246, 151, 43);
    width: 1236px;
    height: 290px;
}
#inner-main #inner-temp{
    display: flex;
}
#inner-main #inner-temp #education{
    background-color: rgb(182, 102, 12);
    width: 618px;
    height: 350px;
}
#inner-main #inner-temp #skill{
    background-color: rgb(112, 79, 42);
    width: 618px;
    height: 350px;
}
li {
    margin-left: 30px;
    padding-left: 30px;
  }